.bkg {
    background-color: #039403;
}

:root {
    --canvas-height: max(800px,75vh);
}

#container {
    min-height: 96vh;
    display: grid;
    grid-template-areas: "control"
        "allviewers";
    grid-template-rows: 1fr auto;
}

#control {
    grid-area: control;
    margin: .8rem;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

#control>div {
    border: 1px dashed #AAA;
    padding: 4px 5px;
    margin: 2px 5px;
    width: max-content;
    min-height: 11rem;
}

#control>div>div{
    line-height: 150%;
}

#allviewers {
    grid-area: allviewers;
    display: grid;
    grid-template-areas: "disk qhs";
    grid-template-columns: 460px auto;
    gap: .5em;
    align-items: center;
    justify-items: stretch;
}

#svgDiv {
    grid-area: disk;
    box-sizing: border-box;
    width: 100%;
    height: var(--canvas-height);
    border: 1px solid black;
    display: grid;
    grid-template-areas: "svg" "poset";
    grid-template-rows: 460px auto;
/*     
    display: flex;
    flex-direction: column; */
}

#svg {
    width: 100%;
    box-sizing: border-box;
    min-height: 480px;
    grid-area: svg;
    transform-origin: top left;
}

.smallviewer {
    width: 100%;
    box-sizing: border-box;
}

.smallviewer > span{
    position:absolute;
    top: 0;
    left: 0;
}

.cy_smallcanvas {
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
}

#posetDiv {
    position:relative;
    grid-area: poset;
    border: 1px solid #AAA;
    box-sizing: border-box;
    width: 100%;
}

.cytoDiv {
    box-sizing: border-box;
    width: 100%;
    height: var(--canvas-height);
    border: 1px #000000 solid;
    display: grid;
    justify-items: center;
    align-items: center;
}

#qhsDiv {
    grid-area: qhs;
}


.viewer {
    width: 100%;
    box-sizing: border-box;
    height: var(--canvas-height);
}

.cy_canvas {
    box-sizing: border-box;
    width: 100%;
    height: var(--canvas-height);
    display: block;
}

.accordion-trigger{
    width: 100%;
    border-radius: 0;
    /* border: 1px solid #AAA; */
    border: none;
    border-left: 1px solid black;
    padding: 2px ;
}

/* .accordion-trigger::after {
    content: "🔽";
    display: block;
    width: 20px;
    height: .1ch;
    padding: 0;
    margin: 0 0 0 auto;
    translate: 0 -2.5ch;
} */

.accordion-panel{
    margin: 0 0 .5em 0;
    border-bottom: 1px solid #555;
}

.accordion-content {
    border-left: 1px solid #555;
    padding-left: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
}

.accordion-content > div {
    overflow: hidden;
}