.subsec {
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 2em;
}

.subsecblk {
    margin: 2em 0;
}

table.customTable {
    margin: 4px;
    width: max-content;
    border-collapse: collapse;
    border-width: 0px;
}

table.customTable tr {
    line-height: 3ch;
    padding: 5px;
}

table.customTable tr td:nth-child(1) {
    text-align: center;
    padding-left: 1em;
    padding-right: 3em;
}

table.customTable tr td:nth-child(2) {
    padding-right: 2em;
}

table.customTable th {
    text-align: left;
    border-bottom: black 1px solid;
    padding: 3px;
}
