/* colors */

body {
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 25%);
    --text-color-light: hsl(0, 0%, 60%);
    --language-link-color: hsl(0, 0%, 60%);
    --object-color: hsl(200, 100%, 25%);
    --tag-text-color-light: hsl(0, 0%, 60%);
    --numberoffilter-color: hsl(0, 0%, 100%);
    --h1-color: hsl(0, 0%, 30%);
    --legend-border-color: hsl(0, 0%, 60%);
}

html {
    scroll-behavior: smooth;
}

/*--------------------------------------------------*/
/* all */
/*--------------------------------------------------*/

* {
    margin: 0;
    padding: 0;

    /* text-decoration: none; */
    list-style-type: none;
}

/*--------------------------------------------------*/
/* body */
/*--------------------------------------------------*/

body {
    -webkit-text-size-adjust: 100%;

    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);

    /*	transition-property: background;*/
    /*	transition-duration: 0.5s;*/
}

abbr[title] {
    position: relative;
    /* ensure consistent styling across browsers */
    text-decoration: underline dotted;
}
abbr[title]:hover::after,
abbr[title]:focus::after {
    content: attr(title);
}

/*--------------------------------------------------*/
/* main */
/*--------------------------------------------------*/

div#main,
div#main_en,
div#main_ja {
    width: var(--header-main-width);
    margin: 0 auto 100px;
    font-size: 16pt;
    text-align: center;
}

/*--------------------------------------------------*/
/* h1 */
/*--------------------------------------------------*/

h1 {
    margin: 30px 0 20px;

    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: var(--h1-color);
}

@media screen and (max-width: 800px) {
    h1 {
        margin: 30px 0 45px;

        font-size: 40px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        margin: 25px 0 40px;

        font-size: 35px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        margin: 20px 0 30px;

        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        margin: 0px 0 25px;

        font-size: 25px;
    }
}

/*--------------------------------------------------*/
/* h2 h3 */
/*--------------------------------------------------*/

h2 {
    margin: 35px 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 25px;
    font-weight: lighter;

    transition-property: margin;
    transition-duration: 0.5s;
}

h2::before,
h2::after {
    flex: auto;
    min-width: 50px;
    height: 1px;

    display: block;
    content: "";

    background-color: var(--object-color);
}

h2::before {
    margin-right: 25px;
}

h2::after {
    margin-left: 25px;
}

h3 {
    margin: 20px 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}

h3::before,
h3::after {
    flex: auto;
    max-width: 50px;
    height: 1px;

    display: block;
    content: "";

    background-color: var(--object-color);
}

h3::before {
    margin-right: 25px;
}

h3::after {
    margin-left: 25px;
}

@media screen and (max-width: 800px) {
    h2,
    h3 {
        margin: 40px 0 25px;
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {
    h2,
    h3 {
        margin: 30px 0 25px;
        font-size: 22px;
    }
}

@media screen and (max-width: 600px) {
    h2,
    h3 {
        margin: 25px 0 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    h2,
    h3 {
        margin: 20px 0 20px;
        font-size: 16px;
    }
}

/*--------------------------------------------------*/
/* h4 */
/*--------------------------------------------------*/

h4 {
    margin: 30px 0 20px;

    font-size: small;

    /*	background-color: hsl(80, 100%, 95%);*/
}

h4.fixedwidth {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    text-align: left;
}

@media screen and (max-width: 500px) {
    h4 {
        font-size: 15px;
    }

    h4.fixedwidth {
        text-align: center;
    }
}

.comm {
    font-size: small;
}

/*--------------------------------------------------*/
/* p */
/*--------------------------------------------------*/

p {
    text-align: left;
    font-size: 14pt;
}

div#main > p,
div#main_en > p,
div#main_ja > p,
div#timeInfo > p {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 900px;
    margin: 25px auto 30px;
    text-align: left;
}

div#main > p.left,
div#main_en > p.left,
div#main_ja > p.left {
    width: auto;
}

ul.compact > li {
    margin: 5px 0 5px 1.6em;
    list-style: disc;
    font-size: 12pt;
}

ul.compact ul {
    margin: 0.5em 0;
}
ul.compact ul > li {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0.3em 0;
}

/*--------------------------------------------------*/
/* ul.vertical */
/*--------------------------------------------------*/

ul.vertical {
    /*
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
*/
    width: fit-content;

    width: -moz-fit-content;
    max-width: 900px;
    margin: 25px auto 25px;
    text-align: left;
    font-size: 14pt;
}

ul.vertical > li {
    /*
    flex: initial;
    max-width: 900px;
    display: flex;
    */
    list-style-type: disc;
    display: list-item;
    align-items: center;
    margin: 0 0 15px 0;
}

ul.vertical ul > li {
    list-style-type: circle;
    list-style-position: inside;
}

ul.vertical ul ul > li {
    margin: 0.2em 1em;
    list-style-type: square;
    list-style-position: inside;
}

/*--------------------------------------------------*/
/* ul.twocolumns */
/*--------------------------------------------------*/

/* twocolumns */

ul.twocolumns {
    display: inline-block;

    text-align: left;
    font-size: 16px;
    /*	background-color: hsl(40, 100%, 95%);*/
}

ul.twocolumns > li {
    margin: 15px 0 15px;

    display: flex;
    justify-content: left;

    /*	background-color: hsl(40, 100%, 80%);*/
}

@media screen and (max-width: 500px) {
    ul.twocolumns > li > div.leftcolumn {
        text-align: center;
    }
    ul.twocolumns > li > div.leftcolumn::before,
    ul.twocolumns > li > div.leftcolumn::after {
        flex: auto;
        min-width: 25px;
        height: 1px;
        display: block;
        content: "";
        background-color: var(--object-color);
    }
    ul.twocolumns > li > div.maincolumn {
        margin-top: 0.8em;
    }
    ul.twocolumns > li {
        margin: 10px 0 2px;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
}

/* leftcolumn */

ul.twocolumns > li > div.leftcolumn {
    flex: none;
    margin: 0 10px 0 5px;
    width: 10px;
    text-wrap: wrap;
}

ul.twocolumns.left80 > li > div.leftcolumn {
    width: 80px;
}

ul.twocolumns.left100 > li > div.leftcolumn {
    width: 100px;
}

ul.twocolumns.left120 > li > div.leftcolumn {
    width: 120px;
}

ul.twocolumns.left140 > li > div.leftcolumn {
    width: 140px;
}

ul.twocolumns.leftbold > li > div.leftcolumn {
    font-weight: bold;
}

/* maincolumn */

ul.twocolumns > li > div.maincolumn {
    flex: auto;
    max-width: 800px;

    /*	background-color: hsl(0, 100%, 95%);*/
}

ul.twocolumns > li > div.maincolumn > h4 {
    margin: 0 0 4px;

    font-size: 15px;
    font-weight: bold;
}

ul.twocolumns > li > div.maincolumn > p {
    margin: 0 0 10px;

    font-weight: normal;
}

ul.twocolumns > li > div.maincolumn > ul.normal {
    text-align: left;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    ul.twocolumns > li > div.maincolumn > ul.normal {
        display: inline-flex;
        flex-direction: column;
    }
}

ul.twocolumns > li > div.maincolumn > ul.normal > li {
    display: flex;
    align-items: center;
    margin: 10px 0 10px;
}

#btnToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #aaa; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 6px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#btnToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*--------------------------------------------------*/
/* grid timetable */
/*--------------------------------------------------*/
.ttgrid {
    display: grid;
    grid-template-columns: 3em repeat(5, 8em);
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3ch auto;
    width: fit-content;
}

.ttgrid a {
    color: black;
}

@media screen and (max-width: 900px) {
    .ttgrid {
        grid-template-columns: 3em repeat(5, 6em);
    }
}

@media screen and (max-width: 700px) {
    .ttgrid {
        grid-template-columns: 3em repeat(5, 6em);
        font-size: 8pt;
    }
}

.ttgrid > .timeColumn {
    display: grid;
    border: 1px solid #999;
}

.ttgrid > .timeColumn > .note {
    font-size: 10pt;
    text-align: center;
    align-content: center;
}
.ttgrid > .timeColumn > .smallernote {
    font-size: 8pt;
    text-align: center;
    align-content: center;
}

.ttgrid > .timeColumn > .timeCell {
    align-content: center;
    background-color: #eee;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    font-weight: bold;
    text-align: center;
    font-size: 1.5ch;
    width: 100%;
    font-size: 10pt;
}

.ttgrid > .dayColumn {
    display: grid;
    /* border: 1px black solid; */
    /* color: #fff; */
    color: black;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.ttgrid > .dayColumn > .heading {
    align-content: center;
    font-weight: bold;
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    color: black;
    font-size: 12pt;
}

.ttgrid > .dayColumn > .cell {
    background-color: #ddd;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: auto 0;
    padding: 0.2em;
    border: 1px solid #999;
    box-sizing: border-box;
    font-size: 12pt;
    /* display: block; */
    align-content: center;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000; */
}

@media screen and (max-width: 700px) {
    .ttgrid > .timeColumn > .note,
    .ttgrid > .timeColumn > .smallernote {
        font-size: 4pt;
    }
    .ttgrid > .timeColumn > .timeCell {
        font-size: 6pt;
    }
    .ttgrid > .dayColumn > .heading,
    .ttgrid > .dayColumn > .cell {
        font-size: 8pt;
    }
}

.ttgrid > .dayColumn > .cell:hover {
    /* color: var(--primary-color); */
    text-decoration: underline;
    cursor: pointer;
}
/* 
.contributed {
    display: grid;
    grid-template-rows: 1fr auto;
} */
/* 
.contributed > .subtitle {
    text-align: right;
    font-size: smaller;
    color: #555;
} */

.ttgrid > .dayColumn > .note {
    font-size: 10pt;
    padding-top: 6px;
}
@media screen and (max-width: 700px) {
    .ttgrid > .dayColumn > .note {
        font-size: 4pt;
        padding-top: 3px;
    }
}

/*--------------------------------------------------*/
/* clamp */
/*--------------------------------------------------*/
.clamp {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}
@media screen and (max-width: 700px) {
    .clamp {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .clamp {
        width: 80%;
    }
}

.option {
    font-size: 12pt;
    justify-content: center;
}

.option label {
    margin: 0 1em;
}

/*--------------------------------------------------*/
/* accordion like  */
/*--------------------------------------------------*/
.talk_details {
    border: 1px solid #aaa;
    padding: 0 1rem;
    background: white;
}
.talk_details + .talk_details {
    border-top: none;
}
.talk_details > p {
    padding: 0.4em 3em;
    font-size: 12pt;
    text-align: justify;
}
@media screen and (max-width: 700px) {
    .talk_details > p {
        padding: 0;
    }
}
.talk_details > .talk_summary {
    list-style: none;
    cursor: pointer;
    padding: 1rem 2em 1rem 0;
    font-size: 12pt;
}
.talk_details > .talk_summary > .subtitle {
    cursor: pointer;
    padding-left: 1.5em;
    padding-top: 0.4em;
    font-weight: bold;
    font-size: 12pt;
}
.talk_summary::before {
    content: " ►";
    margin-right: 5px;
}
.talk_details[open] {
    padding-bottom: 1em;
}
.talk_details[open] .talk_summary:before {
    content: " ▼";
    margin-right: 5px;
}
